<h1> <%= @post.title %></h1>
<h2> <%= @post.author %></h2>
<p> <%= @post.description %></p>

<%= link_to 'Edit Post', edit_post_path(@post.id) %>
<%= link_to 'Delete Post', @post, method: :delete %>
<br>
<%= link_to 'New Comment', new_post_comment_path(@post.id) %>

<% @post.comments.each do |comment| %>
  <h4><%= comment.author %></h4>
  <p><%= comment.message %></p>
<% end %>
